.container {
    background-image: linear-gradient(-128deg, rgba(41, 41, 41, 0.93) 3%, rgba(41, 41, 41, 0.93) 88%, rgba(41, 41, 41, 0.93) 100%);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .add-product {
    transition: all 0.3s ease;
    height: 144px;
    width: 144px;
    cursor: pointer;
  }
  .add-product :hover{
      text-shadow: #3d3d3d
  }

  .add-product.open {
    background-color: #fafafa;
    padding: 18px 32px;
    border-radius: 5px;
    width: 90%;
    height: 94%;
    cursor: default;
  }
  .add-product.open form {
    opacity: 1;
    transition: opacity 0.1s ease;
    transition-delay: 0.3s;
    height: auto;
  }
  .add-product .button-copy {
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #f7f7f7;
    
  }
  .add-product form {
    transition: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  .add-product .cancel {
    font-size: 12px;
    text-align: center;
    margin-top: 1em;
  }
  .add-product .cancel span {
    cursor: pointer;
  }
  .add-product .cancel span:hover {
    text-decoration: underline;
  }

  .confirm{
    color: #fff;
    background-color: #217dbb;
    border-radius: 20px;
    line-height: 36px;
    text-transform: uppercase;
    margin-left: 35%;
    width: 30%;
    margin-bottom: 10px;
    font-weight: 700;

  }

  .confirm:hover{
    background-color: #9e9e9e;  
    cursor: pointer;
    text-decoration: underline;

  }

  .clear-button {
    background-color: red;
    height: 40px;
    border-radius: 20px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875em;
    border: none;
    font-weight: 700;
    padding: 0 34px;
  }
  .clear-button img {
    position: relative;
    top: 3px;
    right: 6px;
  }
  .clear-button:hover {
    background-color: #9e9e9e;  
    cursor: pointer;
  }
  .featured-note {
    color: #949494;
    font-size: 12px;
    margin: 4px 0px;
    line-height: 18px;
    font-style: italic;
  }
  form * {
    outline: none;
  }
  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
  }
  label.emoji input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 21px;
    margin: 0;
    display: none;
  }
  label.emoji input + span:after {
    content: "😶";
    font-size: 18px;
    top: 2px;
    left: 2px;
    position: relative;
    height: 18px;
    display: inline-block;
  }
  label.emoji input:checked + span:after {
    content: "😀";
  }
  .form--field {
    width: 98%;
    margin: 10px 0;
  }
  .form--field.-short {
    width: 90%;
  }
  
  .form--price + input {
    padding-left: 14px;
  }
  .form--container {
    width: 420px;
  }
  .form--container.-inline {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -12px;
  }
  .form--element {
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
    padding: 0 4px;
    color: #3d3d3d;
    width: 100%;
    margin: 4px 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  .form--element:focus {
    border: 1px solid #ffc145;
    border-radius: 2px;
  }
  .form--element:not(.texteare) {
    height: 30px;
  }
  .form--element.textarea {
    height: 80px;
    width: 90%
    }
  html, body {
    height: 100%;
    margin: 0;
  }
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #f3f4f5;
    cursor: default;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  ::selection {
    background-color: #f5617a;
    color: #fff;
  }
  ::-moz-selection {
    background-color: #f5617a;
    color: #fff;
  }

  .w3-button {width:200px;}

  .w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}


  .w3-greey{
    color: rgb(255, 255, 255)!important;
    background-color: #9e9e9e!important;
    margin: 15px;
    padding: 10px;
    font: inherit
  }

  .w3-greey :hover :active{
    background-color: #696969
  }

  .w3-dark-grey, .w3-hover-dark-grey:hover{
    color: #fff!important;
    background-color: #616161!important;
  }

  .w3-button {
      margin: 5px 5px 5px 0;
      font-size: 16px;

  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;;
}